@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham'), url('../fonts/GothamBook.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: local('Gotham'), url('../fonts/GothamBookItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: local('Gotham'), url('../fonts/GothamLight.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 300;
  src: local('Gotham'), url('../fonts/GothamLightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham'), url('../fonts/GothamMedium.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham'), url('../fonts/GothamMedium_1.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham'), url('../fonts/GothamMediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham'), url('../fonts/GothamBold.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham'), url('../fonts/Gotham-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 700;
  src: local('Gotham'), url('../fonts/GothamBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Black'), url('../fonts/Gotham-Black.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Light'), url('../fonts/Gotham-Light.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Thin';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Thin'), url('../fonts/Gotham-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Gotham XLight';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham XLight'), url('../fonts/Gotham-XLight.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Book';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Book'), url('../fonts/Gotham-BookItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Thin';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Thin'), url('../fonts/Gotham-ThinItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham Ultra';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Ultra'), url('../fonts/Gotham-UltraItalic.woff') format('woff');
}
@font-face {
  font-family: 'Gotham XLight';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham XLight'), url('../fonts/Gotham-XLightItalic.woff') format('woff');
}

